@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@400;500;600;700&display=swap');
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0 0;
  padding: 0 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

// ----- Corpo ----- //

body {
  font-family: "Dosis";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  clear: both;
}

.App {
  background-image: url('./assets/bg-geral.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  
  height: 100%;
  min-height: 100vh;
  
  .main-container{
    padding: 1.5rem 0 0;

    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
      
      .titulo {
        color: aliceblue;
        font-weight: 200;
        font-size: 4rem;
        margin: auto;
        border-bottom: 1px solid;
        padding-bottom: 1rem;
        width: 525px;
        font-family: "Dosis";
        font-style: normal;
        line-height: 1em;
        letter-spacing: normal;
        text-transform: none;
        font-variant: normal;
        text-shadow: none;
        display: block;
        text-align: center;
      }

      .subtitulo {
        font-size: 1.5rem;
        color: darkkhaki;
        margin: 2rem 0 0;
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-family: "Dosis";
        text-align: center;
        
      }

      .texto {
        text-align: center;
        color: aliceblue;
        font-size: 1.3rem;
        text-transform: uppercase;
        margin: 0 auto;
        border-top: 1px solid;
        padding: 2rem 0 0.5rem;
        max-width: 540px;
        font-weight: 200;
        font-style: normal;
        line-height: 1em;
        letter-spacing: normal;
        font-variant: normal;
        text-shadow: none;
        font-family: "Dosis";
        width: 525px;
      }
    }

    .card-container {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}